.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.menu__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu__list{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu__list__item{
    margin: 10px;
}

.title__div{
    display: flex;
    flex-direction: row-reverse;
}

.title__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title__network{
    display: flex;
    justify-content: space-evenly;
}
.nav{
    display: flex;
    align-items: center;
}

.academic{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.academic__courses{
    display: flex;
}

.experiencie__box{
    display: flex;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skills__line{
    display: flex;
    width: 100%;
    height: 175px;
    justify-content: space-around;
}

.skills__box{
    width: 176px;
    height: 174px;
    background-color: white;
    display: flex;
    align-items: flex-end;

}

.skills__box ul{
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
}

.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies__line{
    display: flex;
    width: 100%;
    height: 175px;
    justify-content: space-around;
}

.hobbies__box{
    display: flex;
    align-items: flex-end;
    width: 176px;
    height: 174px;
    background-color: white;

}

.hobbies__box ul{
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
}

section.academic{
    display: flex;
    height: 581px;
    justify-content: center;

}

.academic__courses{

    /* height: 581px; */
    height: 381px;
    width: 100%;
    justify-content: space-around;
}

.academic__courses__box{
    display: flex;
    width: 228px;
    /* background-color: white; */
    height: 186px;
    padding: 16px;
    justify-content: center;
}



.academic__courses__item__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 286px;
    width: 330px;
    background-color: white;
   
} 

.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiencie__box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

/* .experience__img :nth-child(2){
order:2;
}
.
.experience__info :nth-child(2){
    order:1;
    } */

.experience__info{
    width: 50%;
}

.experience__description{
    display: flex;
    width: 35%;
    justify-content: space-between;
}

.experience__info-container{
    width: 50%;

}
.experiencia__botao--repo{
    border-color: #2A7AE4;
    border-width: 1px;
    color: #2A7AE4;
    width: 116px;
    height: 51px;
    font-size: 16px;
}

.experience__botao--demo{
    border-style: none;
    color: #FFFFFF;
    background-color: #2A7AE4;
    width: 116px;
    height: 51px;
    font-size: 16px;
}

.formcontato__contacto{
    display: flex;
}

.formcontato__text{
    display: flex;
    flex-direction: column;
    padding-left: 30px

}

.formcontato__form{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.formcontato__input{
    height: 56px;
}

.formcontato__textarea{
    height: 113px;
}

.formcontato__botao{
    height: 51px;
    width: 144px;
}

.footer{
    display: flex;
    justify-content: center;

}
.footer__rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__rodape p {

}